@{
}
@using DBTestCreator_1.ViewModels

@model IEnumerable<VisitModel>

<h6>My Visits</h6>
<form asp-controller="Doctor" asp-action="ShowMyVisits">
    <table border="1">
        <thead>
            <tr>
                <td>Name</td>
                <td>Date</td>
                <td>Info</td>
            </tr>
        </thead>
        <tbody>

            @{
                @foreach (var v in Model)
                {
            <tr>
                <td>@v.PatientId.ToString().Substring(0, 5)</td>
                <td>@v.DateOfVisit.ToShortDateString()</td>
                <td><a asp-controller="Visit" asp-action="Info" asp-route-id="@v.Id">Info...</a></td>
            </tr>
                 }
             }

        </tbody>
    </table>
</form>