@{
    ViewData["Title"] = "About";
}
<div>
    <h6>About :</h6>
    <img src="~/Pictures/About.webp" alt="About" height="300" width="300"/>
</div>
<div class="about">
    <p>О Clinic</p>
    <p>Многопрофильная медицинская компания «Clinic» работает с 1992 года.</p>
    <p>За почти 30 лет деятельности центры получили множество наград в своей отрасли и главное – народное доверие и признание.</p>
    <p>«Clinic» находится в числе самых известных медицинских центров.</p>
    <p>Помощь населению оказывается по более чем 50 специальностям.</p>
    <p>Качество оказываемых услуг находится под постоянным контролем руководства компании,</p>
    <p>чтобы обслуживание пациентов соответствовало высоким мировым стандартам.</p>
</div>
