@{
    ViewData["Title"] = "Contacts";
}

<div class="contact">
    <div class="contact_head">
        <h6>Contact information :</h6><br />
        <img src="~/Pictures/map_contacts.jfif" alt="Map" width="500" height="400" />
    </div>
    <div class="contact_body">
        <p class="phone">Phone : +375-29-111-22-33</p>
        <p class="address">Address :</p>
        <p class="address">City : Minsk</p>
        <p class="address">Street : Central ave.</p>
        <p class="address">House : 22</p>
    </div>
</div>
