@{
}

@model DBTestCreator_1.ViewModels.CalendarEventModel
@using System.Security.Claims


<form asp-controller="Visit" asp-action="CreateReservationPatient">
    <div asp-validation-summary="ModelOnly"></div>
    <h6>Create Visit to Doctor : @ViewBag.Doctor.FName @ViewBag.Doctor.LName </h6>
    <div>
        <label asp-for="Start"></label>
        <input asp-for="Start" required />
        <span asp-validation-for="Start"></span>
    </div><br />
    <div>
        <input asp-for="PatientId" value="@ViewBag.Patient.Id" hidden="hidden" />
    </div>
    <div>
        <input asp-for="DoctorId" value="@ViewBag.Doctor.Id" hidden="hidden" />
    </div>
    <input type="submit" value="Create"/>
</form>
