<h4>LogOff form:</h4>
<form asp-controller="Registration" asp-action="LogOff">
    <div>
        <label>User - @User.Identity.Name)</label><br />
        <button type="submit">LogOff</button>
    </div>
</form>
